.bordered {
    border: 1px solid black;
    border-radius: 5px;
}

.app {
    margin-top: 0 !important;
    height: 100vh;
}

.interaction-pane {
    height: 98.8%;
}

.margin-base {
    margin: 10px 10px 0;
}

.input-pane {
    height: 92.5%;
}

.editor-pane {
    height: 90.5vh;
}

.create-form {
    padding: 0 0 5px 5px;
    display: flex;
    flex-direction: column;
}

.create-group {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.create-required-input, .create-required-select, .create-props-input, .create-props-select {
    width: 90%;
}

.create-input {
    padding: 1px 0;
}

.status {
    width: 40%;
}

.hidden {
    visibility: hidden;
}

.overflow-managed {
    overflow: auto;
}

.option-bar {
    display: flex;
    justify-content: space-between;
}

.option-button {
    flex-grow: 0.4;
    margin: 0 !important;
}

.header-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ui.message {
    margin-bottom: 0;
    margin-right: 1em;
    margin-left: 1em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

.editor-loading-message {
    height: 95%;
    width: 95% !important;
    margin: 0 !important;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ui.floating.message {
    -webkit-box-shadow: 0 0 0 1px rgba(34, 36, 38, .22) inset, 0 2px 4px 0 rgba(34, 36, 38, .12), 0 2px 10px 0 rgba(34, 36, 38, .15);
    box-shadow: 0 0 0 1px rgba(34, 36, 38, .22) inset, 0 2px 4px 0 rgba(34, 36, 38, .12), 0 2px 10px 0 rgba(34, 36, 38, .15);
}

.save-area {
    height: 2.7em;
    display: flex;
    justify-content: space-between;
}

.save-button {
    height: 2.5em;
    width: 4em;
    min-width: 4em;
    padding: 0 !important;
    margin-right: 10px !important;
}

.discard-button {
    height: 2.5em;
    width: 7em;
    min-width: 7em;
    padding: 0 !important;
    margin-right: 10px !important;
}

.main-header {
    margin: 0 !important;
    font-size: 40px !important;
}

.log-container {
    position: fixed;
    bottom: 0;
    right: 10px;
    width: 500px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: white;
}

.log-header {
    height: 30px;
    font-size: 15px !important;
    display: flex !important;
    align-items: center;
    background-color: rgb(224, 225, 226);
    color: rgba(0, 0, 0, 0.6);
    padding: 0 0 0 20px !important;
    width: 100%;
}

.log-stream {
    height: 250px;
    line-height: 1.4;
    list-style-type: square;
    padding-left: 20px;
}

.version {
    position: fixed;
    left: 0;
    bottom: 0;
    font-size: 0.8em;
}

.rights-pane {
    display: flex;
    align-items: center;
}

.rights-button {
    height: 2.5em;
    font-weight: 600 !important;
}

.edit-button-area {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
}

.ui.form .field {
    margin-bottom: 0;
}

.graph-settings-pane-margin {
    margin-top: 3px;
    margin-bottom: 3px;
}